workflows/telegram-agent.json
{
  "name": "Skills Agent \u2014 Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "tg-trigger-001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -784,
        -160
      ],
      "webhookId": "tg-rossell-ai-bot-001",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "zvjgk4LEYRX0jQsl",
          "name": "Rossell AI Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $json.message.text }}"
            },
            {
              "id": "a2",
              "name": "telegramChatId",
              "type": "string",
              "value": "={{ $json.message.chat.id }}"
            },
            {
              "id": "a3",
              "name": "sessionId",
              "type": "string",
              "value": "=tg-{{ $json.message.chat.id }}"
            },
            {
              "id": "a4",
              "name": "fromName",
              "type": "string",
              "value": "={{ $json.message.from.first_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tg-set-001",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "position": [
        -560,
        -160
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 3
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "tg-filter-001",
      "name": "Has Text?",
      "type": "n8n-nodes-base.filter",
      "position": [
        -336,
        -160
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst BASE = '/files/skills';\n\nconst entries = fs.readdirSync(BASE, { withFileTypes: true })\n  .filter(e => !e.name.startsWith('.'))\n  .map(e => ({ name: e.name, type: e.isDirectory() ? 'dir' : 'file' }));\n\nreturn [{ json: { ...($input.first().json), skills: JSON.stringify(entries, null, 2) } }];"
      },
      "id": "tg-skills-001",
      "name": "Read Local Skills",
      "type": "n8n-nodes-base.code",
      "position": [
        -112,
        -160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful assistant. Your capabilities and instructions for completing tasks are stored in skill files in skill directories, listed below in the Available Skills section.\n\n## How You Work\nYou do not have built-in knowledge of how to complete tasks. Your instructions live in the skill files. When a user asks you to do something:\n\n1. Identify which skill(s) are relevant to the request, traversing directories using the `List Local Skills Dir` tool as needed (ideally concurrently)\n2. Fetch those skill files using `Read Local Skill File`\n3. Follow the instructions in those files to complete the task\n\nUser name: {{ $json.fromName }}\nSession: {{ $json.sessionId }}\n\n## Available Skills\n{{ $json.skills }}\n\n## Important\n- Do NOT answer based on general knowledge \u2014 your instructions are in the skill files\n- Skills dirs contain a SKILL.md that describes the skill and how to invoke it\n- Keep responses concise \u2014 this is a Telegram chat\n",
          "maxIterations": 50
        }
      },
      "id": "tg-agent-001",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        112,
        -160
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "tg-model-001",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        -144,
        96
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "dlJYiACxHjtYvxRI",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Message').item.json.sessionId }}",
        "tableName": "n8n_chat_memory"
      },
      "id": "tg-memory-001",
      "name": "Postgres Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        0,
        96
      ],
      "typeVersion": 1.3,
      "credentials": {
        "postgres": {
          "id": "FTIHSVoh2R1N2OcU",
          "name": "n8n Postgres"
        }
      }
    },
    {
      "parameters": {
        "name": "list_local_skills_dir",
        "description": "List files and directories inside a skills directory. Pass a relative path like '' for root, 'carrier-portal' for that skill dir. Returns JSON array of {name, type, path}.",
        "jsCode": "const fs = require('fs'), path = require('path');\nconst BASE = '/files/skills';\nconst rel  = (query || '').replace(/^\\//, '');\nconst dir  = path.join(BASE, rel);\nif (!dir.startsWith(BASE)) return 'Error: invalid path';\ntry {\n  const entries = fs.readdirSync(dir, { withFileTypes: true });\n  return JSON.stringify(entries.map(e => ({\n    name: e.name,\n    type: e.isDirectory() ? 'dir' : 'file',\n    path: path.join(rel, e.name)\n  })));\n} catch(e) { return 'Error: ' + e.message; }"
      },
      "id": "tg-list-tool-001",
      "name": "List Local Skills Dir",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        144,
        96
      ]
    },
    {
      "parameters": {
        "name": "read_local_skill_file",
        "description": "Read the text content of a skill file. Pass the relative path like 'carrier-portal/SKILL.md'. Returns file text content.",
        "jsCode": "const fs = require('fs'), path = require('path');\nconst BASE = '/files/skills';\nconst rel  = (query || '').replace(/^\\//, '');\nconst fp   = path.join(BASE, rel);\nif (!fp.startsWith(BASE)) return 'Error: invalid path';\ntry {\n  return fs.readFileSync(fp, 'utf8');\n} catch(e) { return 'Error: ' + e.message; }"
      },
      "id": "tg-read-tool-001",
      "name": "Read Local Skill File",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        288,
        96
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Extract Message').item.json.telegramChatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "tg-send-001",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        336,
        -160
      ],
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "zvjgk4LEYRX0jQsl",
          "name": "Rossell AI Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Text?": {
      "main": [
        [
          {
            "node": "Read Local Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Local Skills": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List Local Skills Dir": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read Local Skill File": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": []
}